NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZXhvdGljLWR1Y2stNzAuY2xlcmsuYWNjb3VudHMuZGV2JA
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_Shjoou5YPKoKrH
RAZORPAY_KEY_SECRET=2hEy9mHfcItBZwm47Y7JZmwz
RAZORPAY_KEY_ID=rzp_test_Shjoou5YPKoKrH
CLERK_SECRET_KEY=sk_test_OCPJLuGO1YqQwF1LPW7gwkqCNUmmI5ZiAIR1okZkKL
